body {
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  flex-direction: column;
  margin: 0;
  opacity: 0.9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    padding: 10px;
  }

a  {
  color: seashell;
}

h2, h4 {
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-textbox {
  background-color: black;
  width: 1200px;
}

.featured-tea {
  display: block;
  padding-top: 70px;

}

# pain .image-group {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.locations {
  display: block;
  background-image: url(./images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;

}

.textbox-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textbox {
    display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}
