body {
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  flex-direction: column;
  margin: 0;
  opacity: 0.9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    padding: 10px;

  }

a  {
  color: seashell;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;

  background-image: url(./images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;

}

.main-textbox {
  background-color: black;
  width: 1200px;
}
